.navbar,
.nav-link {
    color: var(--blanco);
    background-color: var(--azul);
    text-shadow: var(--negro);
}

.w3-bar {
    color: var(--azul);
}

body {
    background-color: var(--azul);
}

.img-container {
    text-align: center;
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --verde2: #569730;
    --verde: #1f7b34;

--v: #6dd7b8;
    --verde-claro: #95c11f;

    --blanco: #ffffff;
    --negro: #000000;
    --gris: #6b7a92;
    --celeste: #80c9ed;
    --azul-claro: #29a6e7;
    --azul: #0f5177;
    --celeste-claro: #c7e9f8;
}